In [17]:
import pandas as pd
import numpy as np
from apyori import apriori

In [18]:
df = pd.read_csv('heart_failure.csv')
num_records =len(df)
print(num_records)

299

In [19]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [78]:
df.describe()

,age,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.32107,130.260870,0.32107
std,11.894809,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.46767,77.614208,0.46767
min,40.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.00000,4.000000,0.00000
25%,51.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.00000,73.000000,0.00000
50%,60.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,0.00000,115.000000,0.00000
75%,70.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.00000,203.000000,1.00000
max,95.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.00000,285.000000,1.00000

In [79]:
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [75]:
age = df[['age', 'DEATH_EVENT']]
creatinine = df[['creatinine_phosphokinase', 'DEATH_EVENT']]
platelets = df[['platelets', 'DEATH_EVENT']]
serum = df[['serum_creatinine', 'DEATH_EVENT']]
sodium = df[['serum_sodium', 'DEATH_EVENT']]

In [80]:
arr = [age, creatinine, platelets, serum, sodium]
for ar in arr:
    records = []
    for i in range(num_records):
        records.append([str(ar.iloc[i,j]) for j in range(0, 2)])
    association_rules = apriori(records, min_support=0.006, min_confidence=0.3, min_lift=3, min_length=2)
    association_results = list(association_rules)
    for item in association_results:

    # first index of the inner list
    # Contains base item and add item
        pair = item[0] 
        items = [x for x in pair]
        print("Rule: " + str(items[0]) + " -> " + str(items[1]))

    #second index of the inner list
        print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

        print("Confidence: " + str(item[2][0][2]))
        print("Lift: " + str(item[2][0][3]))
        print("=====================================")

Rule: 1 -> 48.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 82.0 -> 1
Support: 0.010033444816053512
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 95.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 168
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 153000.0 -> 1
Support: 0.010033444816053512
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 166000.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 196000.0 -> 1
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 204000.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 319000.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 351000.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 1.83
Support: 0.026755852842809364
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 1.9
Support: 0.016722408026755852
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 2.5
Support: 0.010033444816053512
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 3.0
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 127 -> 1
Support: 0.010033444816053512
Confidence: 1.0
Lift: 3.114583333333333
=====================================
Rule: 1 -> 129
Support: 0.006688963210702341
Confidence: 1.0
Lift: 3.114583333333333
=====================================